# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env/

# Editor Files
.vscode/
.idea/
*.sublime-workspace

# Logs
logs/
*.log

# Dependency files
pip-log.txt
dist/
build/
*.egg-info/

# Environment variables
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db